// https://github.com/flatlogic/awesome-bootstrap-checkbox
//similar code to input-checkbox

.control--radio {
  margin-bottom: 0;
  padding-left: 0.8rem;

  .label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0.5rem;
    line-height: $line-height__input-normal;
    cursor: pointer;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      width: $size__checkbox;
      height: $size__checkbox;
      left: 0;
      margin-left: -2rem;
      @include radio-input-border();
      cursor: pointer;
    }

    .disabled &::before {
      @include radio-input-border(disabled);
      cursor: not-allowed;
    }

    &::after {
      display: inline-block;
      position: absolute;
      width: $size__checkbox;
      height: $size__checkbox;
      left: 0;
      top: 0;
      margin-left: -2rem;
      padding-left: 1px;
      font-size: 1rem;
      line-height: $line-height__input-normal - 0.1rem; // fine tune
      color: $color__check;
      @include radio-input-border();
    }

    .disabled &::after {
      @include radio-input-border(disabled);
      cursor: not-allowed;
    }
  }

  .radio {
    opacity: 0;
    z-index: 1;
    cursor: pointer;

    &:checked + .label::after {
      content: '';
      top: 4px;
      left: 4px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $background__check;
    }

    &:disabled {
      cursor: not-allowed;
    }

    &:disabled + .label {
      color: $color__text-muted;
      cursor: not-allowed;

      &::before {
        background-color: darken($color__white, 10%);
        cursor: not-allowed;
      }

      &::after {
        color: $color__text-muted;
        background-color: darken($color__white, 10%);
        cursor: not-allowed;
      }
    }

    &:focus + .label::before {
      @include focusable-active();
    }

    &:checked:focus + .label::after {
      background-color: darken($background__check, 20%);
    }
  }
}
