// Available color variables
// Aiming for “AA” of WCAG.
// Test - http://colorsafe.co/
$color__white: white;
$color__fiord: #4f5a65;
$color__black-russian: #202124;
$color__shuttle-grey: #5f6368;
$color__grey: #767676;
$color__royal-blue: #0044e2;
$color__matisse: #376089;
$color__blue-matic: #afdaff;
$color__yellow-brownish: #f3d9c5;
$color__blue-matic--light: #d1e9ff;
