#app {
  background: $background__app;
}

.page-header {
  background: $background__page-header;
}

.aside {
  .container {
    background: $background__aside;
  }
}

.main {
  .container {
  }
}

.page-footer {
  background: $background__page-footer;
}
